body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0px;
    right: 0;
    height: 70px;
    width: 100%;
    background-color: #0c0a0a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}
.navbar a {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: #ebe7e7;
    font-weight: bold;
}
.navbar a:first-child {
    margin-left: 50px;
}

.navbar a:hover {
    background-color: #ddd;


}
.div1 img {
    width: 50%;
    height: 10%;
    object-fit: cover;
    

}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    


}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 60px;
    background-color: #f1f1f1;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
      
}

.div1 .resume-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.div1 .resume-button:hover {
    background-color: #555;
}
.image-container {
display: flex;
justify-content: center;
margin-top: 200px;}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
  
  .footer-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #373738;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }

  .footer-buttons button:hover {
    background-color: #555;}
/* Skills Section.*/

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

h1{
    font-size: 60px;
    text-align: center;
}
section {
    text-align: left;
    padding: 20px;
    

}
/* Grids Section.*/
.grid-container {
    display: grid;
    grid-template: 100px / auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 20px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.workGrid {
    display: grid;
    grid-template-areas:
        "project1 project1-details"
        "project2 project2-details"
        "project3 project3-details";
}

.project1 {
    grid-area: project1;
}

.project1-details {
    grid-area: project1-details;
}

.project2 {
    grid-area: project2;
}

.project2-details {
    grid-area: project2-details;
}

.project3 {
    grid-area: project3;
}

.project3-details {
    grid-area: project3-details;
}

/* Add your responsive CSS styles here */
@media (max-width: 768px) {.image-container img {
        max-width: 100%;
        height: auto;
    }
    
    .hero h2 {
        font-size: 18px;
    }
    
    .mySkills {
        display: flex;
        flex-wrap: wrap;
    }
    
    .flexContainer > div {
        width: 100%;
    }
    }
    .w3-btn {width:150px;}
    